streamlit
streamlit_option_menu
pandas
numpy
matplotlib.pyplot
seaborn
math
pickle
sklearn.preprocessing
sklearn.model_selection
sklearn.metrics
sklearn.linear_model
sklearn.tree
sklearn.neighbors